[user]
	name = Luis Luna
	email = luislunaaguilar@gmail.com

[core]
	editor = /usr/local/bin/vim
	excludesfile = /Users/luis/.gitignore_global

[status]
	submoduleSummary = true

[diff]
	submodule = log

[alias]
	spull = !git pull && git submodule sync --recursive && git submodule update --init --recursive

[init]
	templatedir = ~/.git-templates
